<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Kết quả RSA</title>
    <style>
         /* CSS cho kết quả */
         body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(45deg, greenyellow, dodgerblue);
            font-family: "Sansita Swashed", cursive;
        }
         .result-card {
            margin-top: 20px;
            padding: 20px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
        .result-card h1 {
            font-size: 1.5em;
            color: dodgerblue;
        }
        .result-card h3 {
            font-size: 1.2em;
            color: #000;
        }
        .result-card p {
            font-size: 1em;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="result-card">
        <h1>Kết quả RSA</h1>
        <h3>Khóa công khai:</h3>
        <p>(e, n): {{ public_key }}</p>
        <h3>Khóa bí mật:</h3>
        <p>(d, n): {{ private_key }}</p>
        <h3>Thông điệp đã mã hóa (Văn bản Mật):</h3>
        <p>{{ cipher_text }}</p>
        <h3>Mảng văn bản thô:</h3>
        <p>{{ plain_text }}</p>
        <h3>Văn bản đã được mã hóa:</h3>
        <p>{{ encrypted_message }}</p> 
    </div>
</body>
</html>
